---
http_interactions:
- request:
    method: get
    uri: http://api.instagram.com/v1/tags/k_test/media/recent?access_token=fake_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.instagram.com/publicapi/v1/tags/k_test/media/recent?access_token=fake_token
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 11 Oct 2017 10:51:19 GMT
- request:
    method: get
    uri: https://api.instagram.com/publicapi/v1/tags/k_test/media/recent?access_token=fake_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.instagram.com/publicapi/v1/tags/k_test/media/recent?access_token=fake_token
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 11 Oct 2017 10:51:19 GMT
- request:
    method: get
    uri: https://www.instagram.com/publicapi/v1/tags/k_test/media/recent?access_token=fake_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://api.instagram.com/v1/tags/k_test/media/recent?access_token=fake_token
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 11 Oct 2017 10:51:19 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/k_test/media/recent?access_token=fake_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '478'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"pagination": {"next_min_id": "AQCifzfjJjgbvkonPNJqCcb7XHnX_PgkW1B4OpiZpF767UPAtcxVtPnHLMc3_rohA7AYIysNh-W5Wry6N9CH_9ogMXft125PuhbJ5OTTSYxXKg",
        "min_tag_id": "AQCifzfjJjgbvkonPNJqCcb7XHnX_PgkW1B4OpiZpF767UPAtcxVtPnHLMc3_rohA7AYIysNh-W5Wry6N9CH_9ogMXft125PuhbJ5OTTSYxXKg",
        "deprecation_warning": "next_max_id and min_id are deprecated for this endpoint;
        use min_tag_id and max_tag_id instead"}, "data": [{"id": "1622793543575058756_5342113995",
        "user": {"id": "5342113995", "full_name": "zhk", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "username": "zhk_t"}, "images": {"thumbnail": {"width": 150, "height": 150,
        "url": "https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/22344635_399631450452895_8400711217840128_n.jpg"},
        "low_resolution": {"width": 320, "height": 320, "url": "https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/22344635_399631450452895_8400711217840128_n.jpg"},
        "standard_resolution": {"width": 640, "height": 640, "url": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/22344635_399631450452895_8400711217840128_n.jpg"}},
        "created_time": "1507672087", "caption": {"id": "17889798973116905", "text":
        "Test image 3 #k_test #wa #super_australua", "created_time": "1507672087",
        "from": {"id": "5342113995", "full_name": "zhk", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "username": "zhk_t"}}, "user_has_liked": false, "likes": {"count": 0}, "tags":
        ["k_test", "super_australua", "wa"], "filter": "Normal", "comments": {"count":
        0}, "type": "image", "link": "https://www.instagram.com/p/BaFUiFElrlE/", "location":
        null, "attribution": null, "users_in_photo": []}, {"id": "1622793086764980556_5342113995",
        "user": {"id": "5342113995", "full_name": "zhk", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "username": "zhk_t"}, "images": {"thumbnail": {"width": 150, "height": 150,
        "url": "https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/22352452_861475647353734_6812599802618970112_n.jpg"},
        "low_resolution": {"width": 320, "height": 320, "url": "https://s[...]
